<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic Form - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="~/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/themes/icon.css">
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easyui.min.js"></script>
</head>
<body>
    <center>
        <div style="margin-top:5%">
	<img src="~/Images/u=2476194286,852550830&fm=27&gp=0.jpg" style="width:60%;height:40%"/>
            </div>
    </center>
</body>
</html>
